[2016-05-19 05:10] igniteonline opened #2 "Version restricted to 3 digits"
when calling `validateVersion` the installer expects exactly 3 digits, although ACF also releases updates with 4 digits as of version 5.3.8.1.
The regular expression to match against should be
` $major_minor_patch = '/\A\d\.\d\.\d(\.\d)?\Z/';`

[2016-05-19 06:20] PhilippBaschke commented on #2
Good catch! I'll work on it. :relaxed:

[2016-05-19 07:34] #2 closed

[2016-07-19 22:14] jamiechong opened #4 "Cannot install ACF Pro 5.3.10"
The composer install fails with this error.
`[UnexpectedValueException]
  The version constraint of advanced-custom-fields/advanced-custom-fields-pro should be exact (with 3 or 4 digits). Invalid version string "5.3.10" `

The problem looks to be an issue with your regex one Line 187 of Plugin.php

[2016-07-20 08:01] PhilippBaschke commented on #4
Thank you @jamiechong. Fix is on the way 😊

[2016-07-20 12:40] #4 closed

[2016-08-05 05:48] tyrann0us opened #5 "Error 400: Bad Request"
When trying to install (latest) version of ACF composer fails with error message

`[Composer\Downloader\TransportException]
The 'https://connect.advancedcustomfields.com/index.php?p=pro&a=download' URL could not be accessed: HTTP/1.1 400 Bad Request`

Trying to manually download the zip file using the browser (with `?k={ACF_PRO_KEY}`) seems to work in 2 of 10 attempts.

Is there anything that can

[2016-08-05 07:46] PhilippBaschke commented on #5
Thank you for your report @tyrann0us.
I could not reproduce the error with the following `composer.json`:

[code]
and the following `.env` file:
[code]

I ran the following commands:
[code]
My composer version is:
[code]

Can you try this with your key and see if you still get a `400` error? It would be nice if you could tell me the exact steps that lead to the `400` error on your machine. Maybe I

[2016-08-05 08:01] tyrann0us commented on #5
This is totally my fault.
I added the `"require" : {}` part to the general `require` section of my `composer.json` instead having it inside the ACF's `package:{}` section.
Sorry for the trouble! And keep up the good work!

[2016-08-05 08:01] #5 closed

[2016-08-05 08:51] PhilippBaschke commented on #5
Thank you! Don't worry, glad to help! :blush:

[2016-08-06 07:29] Rhymes2k commented on #4
Same Error still occurs with pre-release versions e.g. "5.4.0-RC1". Or is there another way to require stable-tags? see https://getcomposer.org/doc/04-schema.md#version

[2016-08-06 09:42] PhilippBaschke commented on #4
@Rhymes2k Good call. I will add the RC part.

What do you mean by "other way to require stable-tags"? Do you think I should allow all versions that are allowed according to Composer? But it seems like that 5.3.9.1 is not allowed by Composer (but ACF might use it).

[2016-08-06 12:32] Rhymes2k commented on #4
As far as I know ACF sticks 3 digit versioning - at least since v5.
Would it harm to ease the restrictions (or even remove them)? Wouldn't composer just complain about the package url not being reachable if the version doesnt exist?
I can't think of any perfect solution here until Elliot adds composer support to acf pro himself.

[2016-08-10 09:15] PhilippBaschke commented on #4
@Rhymes2k I'll investigate the composer error messages. If they are fairly explanatory, I'll consider removing the constraint alltogether. It seems a little to brittle (I got surprised by new versions twice now). 😕

[2016-08-30 13:49] JKirchartz opened #6 "composer require returns error: invalid package definition"
I'm using composer 1.2.0, and I've copy/pasted the repository to my composer.json as described in the readme file, but when I try to install with `composer require advanced-custom-fields/advanced-custom-fields-pro:*` (also from the readme) I get this error message:

[code]

I tried removing the version string, but then I get an error message saying `Package advanced-custom-fields/advanced-custom-f

[2016-08-30 14:37] PhilippBaschke commented on #6
Thank you for your issue report @JKirchartz.

Did you replace the version placeholder `*.*.*(.*)` with an actual version (e.g. `5.4.2`)?

[code]

[2016-08-31 15:38] JKirchartz commented on #6
That seems to have been the issue, it wanted the actual number.

[2016-09-12 10:00] #6 closed

[2016-09-26 00:58] christianmagill opened #7 "Gist referenced in readme is missing"

[2016-09-26 12:54] PhilippBaschke commented on #7
Thank you @christianmagill! Good catch 😊

[2016-09-26 13:25] #7 closed

[2016-10-26 16:44] tillkruss opened #8 "Support other packages"
Hey!

I've got a few more packages that could use this installer. Do you want to add support for that or should I fork and make my own that is more generic.

[2016-10-28 05:26] PhilippBaschke commented on #8
Thank you for your question @tillkruss. I have been thinking about making a more general version of this. Which plugins do you have in mind?

But I would also make a fork if I would do a more general version, so feel free to do that yourself. Let me know if you would prefer if I would do it (and if you have some time because I am pretty busy at the moment) and if you have any questions 😊

[2016-10-28 17:07] tillkruss commented on #8
Time is exactly my problem, too 😀
I'll see if I can come up with something this weekend.

We are using ACF Pro and AccessAlly.

[2016-10-28 17:07] #8 closed

[2016-12-06 14:12] jerome-toole opened #9 ""no matches found: advanced-custom-fields/advanced-custom-fields-pro:*""
I think included everything correctly. Have a version number specified - `5.5.1` - but when I require with the wildcard version, I get...

[code]

When I define the version number

[code]

it works.

[2016-12-10 12:11] PhilippBaschke commented on #9
Sorry for the late answer! 😞 The problem is actually not my library but `zsh`. I ran into that problem myself 😊 You have to [**escape the wildcard character**](https://superuser.com/questions/420525/scp-with-zsh-no-matches-found/625864#625864):

[code]

Please let me know if that solves your problem (I will add it to the `README` then).

[2016-12-11 14:18] jerome-toole commented on #9
Ahhh, thanks very much. Yes, that works!

On Sat, Dec 10, 2016 at 12:11 PM, Philipp Baschke <notifications@github.com>
wrote:

--
07963714722
@ <http://twitter.com/jamrone>jamrone
design.jerometoole.co.uk

[2016-12-11 14:53] #9 closed

[2016-12-16 07:23] tyrann0us commented on #8
Another plugin which currently can't be installed with composer: [wpSEO](https://wpseo.de/).

[2016-12-16 10:54] PhilippBaschke commented on #8
Thanks for the input @tyrann0us 👍  I added it to the list of plugins that I will try when doing the general fork ☺️

[2016-12-22 07:58] tyrann0us commented on #8
All plugins from the developer of [WP All Import Pro](http://www.wpallimport.com/).

[2016-12-30 10:41] certainlyakey opened #10 "ACF Pro doesn't see the key from a environment variable"
First of all, thanks for all the work done with this plugin. I've got one question related to how it works though.

I installed ACF Pro via Composer with the Installer plugin, but somehow ACF Pro doesn't see the Pro serial number in an env variable. I checked if the variable is there with PHP command `get_defined_vars()` and I see `ACF_PRO_KEY ` there (in the `_SERVER` section of the printed array

[2017-01-03 19:45] PhilippBaschke commented on #10
Thank you for your question and sorry for the late answer ☺️

The plugin is just meant to be used with composer and does **not** modify anything in WordPress. I think the general idea when using composer with WordPress is to *never* use the WordPress auto update functionality and update WordPress, plugins and themes via composer.

You should be able to update ACF PRO with the following procedure:

[2017-01-04 08:31] certainlyakey commented on #10
Hi Philipp!
Thanks for your reply.
To be exact it's not about updating, it's about automated installing ACF Pro in different environments (for example, on various locals and on staging), but I get your point — the installer isn't supposed to apply a key to the installation, we put the key into an `.env` file or as a env variable to allow for downloading plugin from ACF server only, and it should b

[2017-01-05 17:33] #10 closed

[2017-02-02 12:27] rolandp opened #11 "HTTP/1.1 400 Bad Request"
I have a similar issue as described in issue #5.

I've added the following code to the composer.json file that's in the root of my theme

`  "repositories": [
    {
      "type": "package",
      "package": {
        "name": "advanced-custom-fields/advanced-custom-fields-pro",
        "version": "5.3.10",
        "type": "wordpress-plugin",
        "dist": {
          "type": "zip",
          "url

[2017-02-14 20:35] PhilippBaschke commented on #11
Sorry for the late answer. I did not see the issue. 😞

Did you double check your key? I used the URL that you posted `https://connect.advancedcustomfields.com/index.php?p=pro&a=download&t=5.3.10&k=WRONG_KEY` and got a `400` as well (just tested it in the Browser). However, when I replace `WRONG_KEY` with my key, the download works just fine. 😕

[2017-02-18 00:51] mickaelzhang commented on #11
I'm running into this problem as well on my mac and also on my server.
The issue seems to be that composer install try to install `advanced-custom-fields/advanced-custom-fields-pro` first and then `acf-pro-installer`.

[2017-02-19 20:20] PhilippBaschke commented on #11
@mickaelzhang Can you post the (relvant) contents of your `composer.json`? Because when you specify that ACF requires `acf-pro-installer` it should be installed before. I also think it is not the case for @rolandp because the URL in the error message contains a `version` and `key` parameter which gets added by `acf-pro-installer`. 😕

[2017-02-20 10:58] rolandp commented on #11
@PhilippBaschke Thanks for getting back to me and pointing me in the direction of the key. I think the problem was a space before the actual key in my .env file. I've got it working now without changing anything else.

Would it be possible to return a difference error code for an invalid key? Something like a 403?

[2017-02-20 21:17] PhilippBaschke commented on #11
I'm glad that your Problem was solved. The better error code is good suggestion 😌 However, the error code comes from ACF directly and I can't really influence it 😞

[2017-02-20 21:17] #11 closed

[2017-03-07 17:28] stejmurphy opened #12 "Unable to pull 5.5.10"
I believe the double digit is responsible.

Setting exact version to `5.5.10` results in

[code]

Setting `*` just skips over and continues with no fatal

[2017-03-12 11:56] PhilippBaschke commented on #12
Did you set the version in the package to `5.5.10` because the error message suggests it is probably `5.3.9`?
[code]

[2017-03-13 09:27] stejmurphy commented on #12
That was it. Can confirm it's pulling `5.5.10`. Thanks @PhilippBaschke

[2017-03-13 09:27] #12 closed

[2017-03-19 01:15] s3w47m88 opened #13 "Could not find package wp-cli.yml at any version for your minimum-stability (stable). Check the package spelling or your minimum-stability"
Firstly, thank you for taking the time to solve this problem.

In my case though, your solution isn't working. I'm getting two errors:

1. When I run `composer require advanced-custom-fields/advanced-custom-fields-pro: *` I get this error: `Could not find package wp-cli.yml at any version for your minimum-stability (stable). Check the package spelling or your minimum-stability`

2. Unless I specif

[2017-03-19 21:34] s3w47m88 commented on #13
Thank you for the swift response Philipp!

Here's my composer file in /bedrock/composer.js:
https://gist.github.com/s3w47m88/eab3a08b2ca3db9f96f5b92778b3f80c

Also here is my command line i/o:
https://gist.github.com/s3w47m88/341a52b77bfe31cfbb83e438f39a474d

As a side note, there is a typo in your instructions where it says: "composer require advanced-custom-fields/advanced-custom-fields-pro:*" -

[2017-03-19 22:13] PhilippBaschke commented on #13
Thank you for the detailed information. 😌 I think I found the error. 🤞

But first to your side note: According to this https://github.com/composer/composer/issues/5118#issuecomment-202102719 it is important that no space is between `:` and the version (in your case `*`). So that is probably the reason for the `InvalidArgumentException`.

Your first try without the space fails because you are using

[2017-03-19 23:04] s3w47m88 commented on #13
That makes sense. Now, are you saying I have to uninstall ZSH to run this? Forgive me, I'm not quiet clear on the solution (I also read the link you referenced).

Thank you for your time!

[2017-03-20 19:22] PhilippBaschke commented on #13
Fortunately you can keep using ZSH (it's awesome after all) by using the green line from the linked issue:
`composer require advanced-custom-fields/advanced-custom-fields-pro:\*`

Hope that helps 😌

[2017-03-24 03:06] s3w47m88 commented on #13
I was able to get it working locally using that. I'll try on my original remote production machine in coming days and update here accordingly. Thanks so far!

[2017-03-26 14:50] PhilippBaschke commented on #13
Glad I could help! 😌

[2017-03-26 14:50] #13 closed

[2017-03-28 19:26] slackday commented on #11
I'm using `acf-pro-installer` on several projects and it's great thanks! However on one project I'm getting this error all of a sudden and configuration is the same on projects that work and this that don't work... I'm out of ideas... any suggestions what to troubleshoot? 🤔

[2017-03-29 19:57] PhilippBaschke commented on #11
Glad that you like it @slackday. 😌  Did you double check your key? It would be really helpful if you could share your `composer.json` file. ☺️

[2017-04-05 02:10] s3w47m88 opened #14 "Error on Deploy only: Could not find a key for ACF PRO. Please make it available via the environment variable ACF_PRO_KEY install"
Hey Philipp,

I tried deploying my first Trellis + Bedrock + Sage setup to `staging` today and got this error and I'm not sure what to do about it:

`TASK [deploy : Install Composer dependencies] **********************************
System info:
  Ansible 2.2.1.0; Darwin
  Trellis at "Check Ansible version before Ansible validates task attributes"
---------------------------------------------------

[2017-04-05 11:06] slackday commented on #11
Thanks for you answer, sorry I missed it by a week didn't see the notification.

Here is my `composer.json` file https://gist.github.com/slackday/1f25e7cd73de3f5e4d0795f1b2916f44

[2017-04-06 06:33] PhilippBaschke commented on #14
I never used Trellis before so I am not an expert. But I think your server can't use the `.env` file on your machine.

Did you add `acf_pro_key` to the [`vault.yml`](https://roots.io/trellis/docs/wordpress-sites/#passwordssecrets) file of your staging environment? MWDelaney posted an example on the [Roots.io forum](https://discourse.roots.io/t/acf-pro-as-a-composer-dependency-without-committing-yo

[2017-04-06 06:55] PhilippBaschke commented on #11
Hey @slackday.
Thank you for your `composer.json` file. When I run `composer install` with your `composer.json` and my `ACF_PRO_KEY` everything works as expected (like it does on all your other projects).

Have you tried opening the URL that the error message returns in the Browser?
[code]

You could also try to copy the key and compare it letter by letter with [your key](https://www.advancedcusto

[2017-04-06 08:42] slackday commented on #11
The url from the error message doesn't contain a key. It tries to access same URL as in the composer.json. I have the key in `.env` on server but in this case it doesn't get added same way as on other servers/localhost.

[2017-04-06 19:00] s3w47m88 commented on #14
Thanks for the reply Philipp. That post from MWDelaney solved the issue for me!

[2017-04-06 20:22] #14 closed

[2017-04-06 20:28] PhilippBaschke commented on #11
That is super strange 😱 Would you mind running clearing the composer files, installing again and then show me the console output of the install step?

In your project directory
[code]

[2017-04-07 10:19] slackday commented on #11
Super strange yes. I only had this problem on server when running deploy.

I ran the deploy again to get the composer error message for you but I ran into other issues with the deploy.

I upgraded `wp-cli` from `v0.24.1` to `v1.1.0` to fix the issue with the deploy and ran it again. Successfully. And the ACF key was added aswell.

My issue on this server seems to be resolved. Thanks for all your h

[2017-05-10 09:08] ccambournac opened #15 "Find ACF key in .env.* file"
Hi,

it appears that the installer is looking the ACF key in a .env file only. It cannot read environment-specific files, like, e.g., .env.local ou .env.production files. Do you confirm? Is there a workaround?

Thanks anyway for your installer :)

[2017-05-10 18:11] PhilippBaschke commented on #15
Thank you for your report @ccambournac 😌
As you can see in in [Line 245](https://github.com/PhilippBaschke/acf-pro-installer/blob/master/src/ACFProInstaller/Plugin.php#L245) the plugin explicitly checks for `.env`:

[code]

`PHP dotenv` advises against using `.env` files in production in its [Usage Notes](https://github.com/vlucas/phpdotenv#usage-notes) which probably makes different versions of t

[2017-05-11 07:17] ccambournac commented on #15
Thanks for the reply @PhilippBaschke! It is crystal clear. ;)
Will have a unique and (already) ignored .env file from now on...

[2017-05-13 08:29] #15 closed

[2017-06-05 18:43] codilechasseur commented on #11
For anyone having issues right now with this. It looks like ACF has broken the "t=" part of their download URL. Tested from composer, browser and from the account dashboard of ACF's site.

**BROKEN**
https://connect.advancedcustomfields.com/index.php?p=pro&a=download&k={ACF_PRO_KEY}&t=5.5.14

**WORKS**
https://connect.advancedcustomfields.com/index.php?p=pro&a=download&k={ACF_PRO_KEY}

[2017-06-06 09:48] tyrann0us commented on #8
Hi @PhilippBaschke,
is there any progress on this? I'm slowly using more and more premium plugins which fill my repos ...

Another candidate you could add to your list is [WP Migrate DB Pro](https://deliciousbrains.com/wp-migrate-db-pro/) and all addons.
Thanks!

[2017-06-07 20:27] timalbert commented on #11
I am having this same problem. Any thoughts on how to fix? @PhilippBaschke can we remove the "&t=xxx" from the installer plugin.

[2017-06-07 20:29] codilechasseur commented on #11
I reached out to ACF and they've fixed the problem on their end. @timalbert can you try again? Perhaps try clearing you composer cache first?

[2017-06-09 19:55] PhilippBaschke commented on #8
Unfortunately no progress 😞 But thank you for the further suggestions. The more the better! 😌

[2017-06-09 19:57] PhilippBaschke commented on #11
Awesome @codilechasseur! Thank you so much for your effort! ☺️

[2017-06-09 20:04] timalbert commented on #11
Hey @codilechasseur and @PhilippBaschke - I am still getting the same error even with composer cache cleared. Just performed a test and it fails with the `t=5.3.9` parameter, but downloads as expected when removed. Have you been able to get this working successfully?

[2017-06-27 12:17] maciekpaprocki opened #17 "Fatal error: Class 'Dotenv\Dotenv' not found in ACFProInstaller/Plugin.php"
I am not sure why would that happen, but it does. I used this installer few good times now and only on this one set up it seems to make some problems.

Full log:
Fatal error: Class 'Dotenv\Dotenv' not found in /var/www/***/vendor/philippbaschke/acf-pro-installer/src/ACFProInstaller/Plugin.php on line 246
PHP Fatal error:  Class 'Dotenv\Dotenv' not found in /var/www/***/vendor/philippbaschke/acf-pr

[2017-06-27 20:32] PhilippBaschke commented on #17
Thank you for your report @maciekpaprocki and thank you for your kind words ☺️

That is very strange. 😕 Did you try rerunning `composer install`? Would you mind sharing your `composer.json` (feel free to only share the relevant parts)? Thank you 😌

[2017-07-03 14:39] PSahner commented on #11
I also can not download because of a string conversion problem. My ACF Pro key has an is equal sign ('=') as last character. On my Mac it is working fine but on my linux server it gets transformed to '%3D'. How can I fix this issue?

[2017-07-04 18:50] PhilippBaschke commented on #11
@timalbert Sorry for the very late answer. I did not have time to try it until now but as you can see in the ACF versions lists ([My Account](https://www.advancedcustomfields.com/my-account/) > See all versions) `5.3.9` is not available. I guess you have to install a different version. ☺️

@PSahner Can you paste the error output here? That might help to find where the problem could come from. Than

[2017-07-05 10:51] PSahner commented on #11
This is the error I get:
[code]
And the string for the key has a `%3D` instead of `=` at the end. So when I copy and paste the URL in my browser it does not work. But when I change the `%3D` to `=` manually it works.
I guess the `urlencode($value)` part is responsible for that problem where it changes the `=` character to hex code?

[2017-07-06 19:29] PhilippBaschke commented on #11
I opened a ticket at ACF. Maybe they have an idea what to do about it ☺️

[2017-07-24 20:17] dmpinder opened #18 "Can't install latest version"
Hey,

I'm trying to install the latest version of ACF Pro using the following in composer.json:

[code]

and then below

[code]

The issue I'm having is using `"version": "*"`. If I use a named version, then it works fine. If I try to use * then I get this error:

  A repository of type "package" contains an invalid package definition: Invalid package information:
  version : invalid value (*): In

[2017-07-25 06:53] tyrann0us commented on #18
Probably related to #2?
@elliotcondon should normalize his versioning. 😉

[2017-07-25 07:14] elliotcondon commented on #18
Hi @tyrann0us

Thanks mate. All ACF PRO versions are 3 digits only (not 4).
The latest version is 5.5.14 - is the problem being that the 'patch' is up to 14?
- This is pretty normal versioning.

Yes, in the past (over two years ago) I have used 4 dot points to define a version - crazy times.

Let me know if I can help out from my end.

[2017-07-25 07:53] tyrann0us commented on #18
@elliotcondon, sorry for having bothered you. I somehow missed that v5.6.0 is indeed `5.6.0`, not `5.6` as I originally assumed.

@dmpinder, `"version": "5.6.0",` should work. At least it does for me.

[2017-07-25 09:19] dmpinder commented on #18
@tyrann0us Thanks for the reply (and @elliotcondon!)

Fixed version numbers work, but I'd love to use `"version": "*"` to keep installing the latest version. Is that possible?

[2017-07-25 18:38] PhilippBaschke commented on #18
Thanks for answering @tyrann0us and @elliotcondon ! 👍

@dmpinder Unfortunately that is not possible. You add this code to the `repositories` section of `composer.json`

[code]
This tells `composer` the following things:
- Apart from the standard repository [packagist](https://packagist.org/) you can also use this custom repository to find packages that I might want to install
- You tell it which `

[2017-07-26 08:17] dmpinder commented on #18
Thanks for the reply @PhilippBaschke, that's pretty much what I've got now, but thanks for clarifying the version numbers.

I've got about 60 sites using ACF Pro, and I'm currently converting them all to use Composer to install everything (WP in a sub-folder too), do you have any recommendations on the best way to keep the most up-to-date version of ACF Pro? I can update the plugin on production w

[2017-08-06 18:50] PhilippBaschke commented on #18
@dmpinder Sorry for the late answer. We could maybe try it with a `dev-latest` version (`acf-pro-installer` could not add the version string to the URL in that case). But that might not really solve your problem because the following limitations are true for `package` repositories:

See: [Composer Documentation](https://getcomposer.org/doc/05-repositories.md#package-2)

[2017-08-07 11:44] strarsis opened #19 "URL could not be accessed: HTTP/1.1 400 Bad Request"
I am suddenly unable to install/update ACF PRO:
[code]

composer.json:
[code]

ACF PRO key is made available in .env:
[code]

[2017-08-07 19:32] PhilippBaschke commented on #19
Thank you for your detailed report @strarsis ☺️

I tried reproducing your problem but your configuration works for me. However I realized something strange. When I use a wrong key in my `.env` file, the error message contains the `k` part of the URL as well:

[code]

Can you try to run `ACF_PRO_KEY=<key> composer update` to rule out that the problem is your `.env` file?

[2017-08-07 22:07] strarsis commented on #19
Correct, I used some deliberately incorrect `ACF_PRO_KEY` and got the same error message.
So it may be a good idea to let this installer emit a notice/warning that the key is missing/unusual (length, pattern, etc).

[2017-08-09 20:14] PhilippBaschke commented on #19
The key warning is a great idea! 🎉

But does your answer mean that it worked now or is it still failing? Can you test if your key contains URL characters that might be encoded (for example [here](https://meyerweb.com/eric/tools/dencoder/))?

[2017-08-09 20:46] strarsis commented on #19
It works now. Apparently it was an issue with environment variables between WSL/Linux.

[2017-08-10 21:35] partounian commented on #19
I have also having this issue on my Mac machine. I'm using this with Trellis and haven't really changed anything to expect this issue. I checked the server and the pro key is still in the .env file, but it sems the ULR it tries downloading from does not append `&k=[key]`.

EDIT: Fixed by removing ACF, running composer update, pushing to remote, then adding it back in.

[2017-08-16 14:05] mickaelperrin commented on #19
I encountered this issue today and found it was a conflict with the plugin Hirak/prestissimo.

I have submitted a simple patch #20 to resolve it.

[2017-08-24 15:37] maciekpaprocki commented on #17
Hmm, sorry for late answer. I completely missed that.

I think the issue was caused by me trying to use installer at this same time as updating dotenv. As your  installer requires dotenv v2 and was running first it was failing. I am not sure what I did and it's hard to reproduce that, but solution is to upgrade dotenv first and then your installer.

I am closing the issue, thanks for installer and

[2017-08-24 15:37] #17 closed, assigned to PhilippBaschke

[2017-09-20 20:59] mickaelperrin commented on #18
I opened an issue [here](https://github.com/AdvancedCustomFields/acf/issues/2) related to the auto-upgrade feature

[2017-10-03 09:29] regenrek commented on #17
I think this bug is still relevant!

It doesn't happen everytime but currently I'm stuck on this problem.
Here are my files (in short):

[code]

My Command: (via Capistrano Deploy)

```php composer.phar install --working-dir #{release_path} --no-dev --prefer-dist --no-interaction --optimize-autoloader --no-scripts```

Output:

[code]

[2017-10-03 10:38] regenrek opened #21 "Fatal error: Class 'Dotenv\Dotenv' not found in ACFProInstaller/Plugin.php #17"
See: https://github.com/PhilippBaschke/acf-pro-installer/issues/17

I think this bug is still relevant!

It doesn't happen everytime but currently I'm stuck on this problem.
Here are my files (in short):

[code]

My Command: (via Capistrano Deploy)

```php composer.phar install --working-dir #{release_path} --no-dev --prefer-dist --no-interaction --optimize-autoloader --no-scripts```

Output:

[co

[2017-10-09 14:23] groseler opened #22 "Error installing"
Hi, i think im doing everything right, but I can't get rid of an error.
**I run the following code:**
[code]
**And get the following error:**
[code]

**What could it be?**
In my composer.json I have the foloowing configuration:
[code]
and
[code]

Thanks

*EDIT*
I WAS IN A WRONG FOLDER. INSTED OF THE FOLDER SITE, I WAS IN THE FOLDER OF THE THEME.

[2017-10-09 15:08] #22 closed, assigned to nobody

[2017-10-12 14:31] christianmagill commented on #8
I definitely would love to see support for Gravity Forms!

[2017-11-09 12:05] maciekpaprocki commented on #19
Hi. I created temporary fork to fix my builds including @mickaelperrin fix. Feel free to use it.

I will archive it (not remove though as it would brake stuff) as soon as Phillip will come back.

[2017-11-28 13:19] codecomp opened #23 "Integration as a library"
I've a added this and got it installed via my themes composer.json so i now have acf and the installer in my vendor directory. But how do I tie this in?

I see an auto loader but my  themes `require_once __DIR__ . '/vendor/autoload.php';` doesn't seem to pull in anything from this package. Though other composer auto loaded packages are working fine like Knit.

`"repositories": [
        {

[2018-01-18 09:54] tomasruud commented on #19
I got this problem today as well, but it was because we had typed the wrong version number in the repository field.

[2018-01-18 17:16] 87pancakes opened #24 "Could not find a key for ACF PRO"
[code]

However the key is available in the config file.

[2018-01-22 12:12] 87pancakes commented on #24
I fixed this by creating a blank .env file and adding the variable in there.

[2018-01-22 12:12] #24 closed, assigned to nobody

[2018-03-16 12:15] slackday commented on #19
have this issue on one server I deploy to and I don't know why. Running `composer clear-cache` on the server before a deploy does the job.

[2018-07-02 14:26] federicovezzoli opened #25 "Any way to download the add-ons with this helper?"
I'm looking to install the acf-gallery and flexible content add on with this tecnique.
Tried some approches but without any result.
Anyone knows anything?

thanks

[2018-07-03 19:48] #25 closed, assigned to nobody

[2018-07-08 18:16] alexisferat opened #26 "Cannot install beta or release candidate version"
Steps to reproduce:
1. In the `repositories` field, set the ACF package version to `5.7.0-RC4`
2. In the `require` field, set constraint to `^5.7`
3. Execute `composer update advanced-custom-fields/advanced-custom-fields-pro`

Result:
[code]

Same problem when doing `composer require advanced-custom-fields/advanced-custom-fields-pro`:
[code]

[2018-07-12 17:45] strarsis commented on #26
+1, just tried to install 5.7.0.
Edit: It works now: Apparently this was a separate issue with
global `hirak/presistissimo` package for composer: https://github.com/PhilippBaschke/acf-pro-installer/pull/20

[2018-07-24 19:43] blakethomp commented on #19
I got this problem today when running `composer update advanced-custom-fields/advanced-custom-fields-pro`, after updating the version #, however removing the package and requiring it again allowed it to install.

`[Composer\Downloader\TransportException]
  The 'https://connect.advancedcustomfields.com/index.php?p=pro&a=download&t=5.7.1' URL could not be accessed:
  HTTP/1.1 400 Bad Request`

[2018-08-03 16:16] MWDelaney opened #27 "Dotenv errors since Composer 1.7"
Hi,
Since Composer 1.7 was released earlier today, I can no longer install acf-pro-installer as part of a Trellis deployment; I get the following error(s) related to Dotenv/Dotenv:

[code]

This seems related to #21 and #17 but I haven't seen this problem specifically until the new version of Composer shipped this morning.

Pinning Composer to 1.6.5 on the server I'm deploying to resolves the issu

[2018-08-03 22:46] HansCz commented on #27
@MWDelaney I have the exact same issue, but in my development environment.

I am quite new to Trellis, so I was hoping you could describe how you pin composer to 1.6.5 to fix this issue.

Thank you.

[2018-08-04 01:01] MWDelaney commented on #27
@HansCz here’s what I did:

At the top of `trellis/group_vars/all/main.yml`

Replace this line:
[code]

With this:
[code]

That got me going for the day but it’s not a good fix for the problem. Hopefully there’s a simple fix somewhere. It almost seems like dotenv isn’t available by the time acf-pro-installer needs it? Could it be an order of operations thing?

@PhilippBaschke any insight? I love t

[2018-08-04 02:33] HansCz commented on #27
Got it working. Thanks @MWDelaney

For anybody else as new to this as me who needs the steps spelled out in greater detail, add the following steps to @MWDelaney's instruction:

- ssh into your virtual machine with `vagrant ssh`
- remove or rename `/usr/local/bin/composer`
- log out of the virtual machine
- run `ANSIBLE_TAGS=composer vagrant provision` from inside trellis directory to reprovision

[2018-08-04 18:43] MWDelaney commented on #27
It looks like [this related issue with wp-cli](https://github.com/composer/composer/issues/7516#event-1771294759) has been acknowledged by Composer and a fix is in progress. Hopefully that fix resolves this issue, too.

[2018-08-07 11:17] ApolloWeb opened #28 "ps -a"

[2018-08-08 04:21] rafhun commented on #27
Composer has been patched. Updating to v1.7.1 solves the issue for me.

[2018-08-08 05:55] #27 closed, assigned to nobody

[2018-08-20 13:09] #28 closed, assigned to nobody

[2018-10-15 19:47] cupojoe commented on #11
Any movement on this?

[2018-10-17 13:54] gaambo commented on #26
same problem here - trying to install the 5.8.0 beta1. editing/commenting the code in the `validateVersion` method in the `Plugin.php` does the trick.

[2018-11-05 22:33] szepeviktor opened #30 "[info] Manual method"
If you are [conservative on plugin updates](https://github.com/szepeviktor/debian-server-tools/blob/master/webserver/WordPress-security.md) you may use this tool to get the ZIP URL

[code]

and hard-code it into your composer.json: https://github.com/szepeviktor/debian-server-tools/blob/master/webserver/wp-install/zip-composer.json#L7-L22
using `"type": "wordpress-plugin",`

All the best!

[2018-11-12 09:52] tiwac100 commented on #26
Still not working for `5.8.0-beta2`:

[code]

[2018-11-13 08:26] stefthoen commented on #26
Could you go into detail how you got this working @gaambo? I think I commented the right code, but I get the following error message:

[code]

I add the repository like this:
[code]

[2018-11-13 11:14] gaambo commented on #26
@stefthoen

sure and also for anyone else reading this:
in `vendor/philippbaschke/acf-pro-installer/src/ACFProInstaller/Plugin.php` i commented line `185-195` out. this method checks the version to be a proper semantic version (with 3 or 4 digits). it would need a pull request to update this method to also allow `beta` version strings. by commenting it out you bypass the version check - so that's

[2018-11-30 16:57] leovdw commented on #19
I had the same problem today, adding the two == at the end of the key fixed it

[2018-12-13 18:30] robrecord commented on #26
Just to add that it worked for me after doing all of the above, but using this as the dependency:

`"advanced-custom-fields/advanced-custom-fields-pro": "*@beta"`

The only problem is making sure that my edits to acf-pro-installer don't get overwritten!

[2018-12-17 14:33] sebastiaandegeus opened #32 "Always installs latest version"
It installs acf5 pro as version 5.7.9 even though I put 5.7.0 as the required version.

[code]

[code]

[2018-12-17 14:37] sebastiaandegeus commented on #32
Sorry, I figured it out. I assumed it is possible to rename the package, but it only works with the standard suggested name:  `advanced-custom-fields/advanced-custom-fields-pro`

[2018-12-17 14:37] #32 closed, assigned to nobody

[2018-12-30 06:18] jbboynton opened #33 "Allow .env to exist outside of working directory"
Hey @PhilippBaschke!

As mentioned in the docs, the ACF key can be read from an `.env` file, as long as the `.env` and `composer.json` files are in the same directory. However, I'm working on a project where `.env` and `composer.json` are in different directories. The `composer.json` file is in the root directory, and the `.env` file is in a subdirectory, like this:

[code]

When the `loadDotEnv`

[2019-02-03 14:18] palmiak commented on #26
As there is a PR waiting I use something like this:
[code]

the specific commit ID of the @jezemery PR. You don't have to edit any file.

[2019-02-12 00:45] boodcode opened #38 "installation conflict with "vlucas/phpdotenv":"^3.0.0""
if you have "vlucas/phpdotenv":"^3.0.0", there is conflict
Problem :
`philippbaschke/acf-pro-installer v1.0.2 requires vlucas/phpdotenv ^2.2 -> satisfiable by vlucas/phpdotenv[2.2.x-dev, 2.3.x-dev, 2.4.x-dev, 2.5.x-dev, 2.6.x-dev, v2.2.0, v2.2.1, v2.3.0, v2.4.0, v2.5.0, v2.5.1, v2.5.2, v2.6.0, v2.6.1] but these conflict with your requirements or minimum-stability.`
How to avoid that ?

[2019-02-15 14:32] schliflo commented on #38
There is a PR to fix this exact issue: https://github.com/PhilippBaschke/acf-pro-installer/pull/35
@PhilippBaschke just needs to merge it...

[2019-02-18 10:34] ffraenz commented on #38
This package seems to be abandoned since the last code change occurred mid 2017.

I maintain an alternative package [ffraenz/private-composer-installer](https://github.com/ffraenz/private-composer-installer) that can be used to install arbitrary private packages including commercial WordPress plugins like ACF Pro and WPML. From version `^2.0.0` it can be used in conjunction with [vlucas/phpdotenv]

[2019-02-18 10:39] siriusnottin commented on #38
I found your repo yesterday @ffraenz! Thanks to you you saved my life x)

[2019-02-21 11:13] albertonieto opened #40 "Error on update when license key contains "=" symbols"
My license key contains two = symbols and the update breaks because of that:

[code]

As you can see, the two = symbols get translated into %3D%3D making the URL different from the one that works (https://connect.advancedcustomfields.com/index.php?p=pro&a=download&t=5.7.11&k=MyLicenseCodeHere==)

Please, help!

[2019-02-21 12:59] albertonieto commented on #40
The issue got automatically solved by pointing to 5.7.12

[2019-02-21 13:00] #40 closed, assigned to nobody

[2019-02-28 19:33] Qrious commented on #38
For anyone interested, we've decided to open source our solution:

**Tl;dr;**
 - We created a [fork/packagist package](https://github.com/pivvenit/acf-pro-installer) that allows you to install/update `advanced-custom-fields/advanced-custom-fields-pro` as any normal composer package (**you no longer need to specify version manually**) using an [open-source composer repository](https://github.com/pi

[2019-03-06 12:21] davemcnally opened #41 "Installing using `composer install`"
Not sure if I'm missing something but I cannot get ACF to install to `wp-content/plugins/` directory just using `composer install` (after making sure I have it set to require) yet manually requiring it as per step 3, works fine. Here's an edited example of my `composer.json` for the relevant parts:

[code]

Should running `composer install` not be installing ACF into the plugins directory like thi

[2019-03-06 13:22] davemcnally commented on #41
Strangely, if I run `composer install` twice, the second command installs ACF into expected directory but still not sure why it needs running twice 🤔

[2019-07-18 16:18] imstanleyyeo commented on #38
Thanks @ffraenz for this installer. Works on all my new install site.

Problem arise when I'm trying to upgrade ACP PRO moving from [philippbaschke/acf-pro-installer](https://packagist.org/packages/philippbaschke/acf-pro-installer) to yours. Did a `composer update` by changing the value of `"vlucas/phpdotenv": "^2.0.1",` to `"vlucas/phpdotenv": "^3.0.0",` and got a white screen of death.

`"requir

[2019-07-18 18:42] ffraenz commented on #38
@imstanleyyeo Please open a new issue over at https://github.com/ffraenz/private-composer-installer/issues to discuss your problem as it is not related to this repository. Thank you!

[2019-07-19 01:43] imstanleyyeo commented on #38
Sorry. Opened a new [issue](https://github.com/ffraenz/private-composer-installer/issues/8).

[2019-08-15 21:08] markushausammann commented on #19
Same problem, none of the hacks here work.

[2019-11-12 03:22] #30 closed, assigned to nobody

[2020-04-16 16:21] davidrhoderick opened #43 "Unsupported repo, here's a replacement"
Hello future user looking for a composer installer of premium WordPress plugins.  I was greeted by this repository multiple times via Google search, which was frustrating because it is no longer supported and no longer works.

However, if you are looking for a working repo to solve this issue, look to https://github.com/ffraenz/private-composer-installer for help.  This will work as of my posting.

[2020-04-16 19:19] schliflo commented on #43
I'd highly suggest using https://github.com/pivvenit/acf-composer-bridge instead of ffraenz/private-composer-installer as it supports updating ACF through composer as well as some other nifty things.

[2020-04-21 13:28] timnolte commented on #43
Neither of these alternatives work for me with as they are no drop-in replacements for this one, and they cause additional dependency conflicts that are not easily resolved. The acf-composer-bridge might have been an option but it went off the rails on what key it's looking for instead of using the widely used ACF_PRO_KEY variable.

[2020-04-25 14:10] Qrious commented on #43
@timnolte  We (pivvenit/acf-pro-installer) support the (default) ACF_PRO_KEY environment variable. I'm interested in your problem, could you please create an issue at our repository (in order not to hijack this issue). Thanks in advance :)

[2020-05-31 17:53] timnolte commented on #43
@Qrious We've decided to land on a single resolution to solve all of our premium plugin management with Composer using a SatisPress instance with authentication. This allows us to keep things working regardless if the plugin vendor changes their distribution method.

[2020-11-24 12:21] arnespremberg opened #44 "Composer 2.0 support"
Hi there!

My usage broke today since it seems not to be compatible anymore with composer 2.0. See the following log:

`The "philippbaschke/acf-pro-installer" plugin was skipped because it requires a Plugin API version ("^1.0") that does not match your Composer installation ("2.0.0"). You may need to run composer update with the "--no-plugins" option.`

Any ideas on a quick fix?

[2020-11-27 19:07] Qrious commented on #44
Hi,

This plugin is more or less abandoned, the last change was mid 2017.
Most people use one of these two alternatives:

[pivvenit/acf-pro-installer](https://github.com/pivvenit/acf-pro-installer)
[ffraenz/private-composer-installer](https://github.com/ffraenz/private-composer-installer)

The first one is a fork/rewrite of this plugin that is composer 2.0 and PHP8 compatible . You can use it in t

[2020-11-27 20:27] ffraenz commented on #44
I think you described the status quo very well :)

Disclaimer: I'm the author of the other package.

[2020-12-14 20:33] LaunchpadMediaLLC commented on #44
I'm actually laughing so hard at the exchange above. Thanks for the help!

[2021-01-22 12:19] ben-neale commented on #33
I'd love this to be added too.

My `.env` is in `conf` directory one level _above_ my root directory

[2021-01-22 15:54] ffraenz commented on #33
@atticus7 As this Composer plugin has not received an update for 5 years you should not depend on it. I am maintaining a package that gives you the same functionality as this one but also offering configurable `.env` file locations: https://github.com/ffraenz/private-composer-installer

[2021-08-02 13:55] certainlyakey commented on #44
I had a good experience with https://github.com/junaidbhura/composer-wp-pro-plugins.

[2021-08-26 14:53] egarofalo opened #45 "Composer 2 compatibility"
Update `composer.json`  require key: "composer-plugin-api": "^2.0" for use Composer 2

[2021-08-31 16:16] polevaultweb opened #47 "Cannot update to ACF 5.10.1"
[code]

[2021-09-07 21:18] justMoritz commented on #47
Would be great to be resolved

[2021-09-13 19:11] ffraenz commented on #47
Hi everyone! This plugin is no longer being maintained. Please have a look at https://github.com/PhilippBaschke/acf-pro-installer/issues/44#issuecomment-734956075 and upgrade your setup. Cheers!

[2022-02-28 16:28] Aetheron opened #48 "Can't install 5.12"
ACF seems to have dropped the patch number from their 5.12 release version string.
The installer `validateVersion()` function expects a three digit version string.

[code]

[2022-03-07 10:29] Qrious commented on #48
Hi, This plugin is no longer being maintained. Please have a look at https://github.com/PhilippBaschke/acf-pro-installer/issues/44#issuecomment-734956075 and upgrade your setup.

[2022-06-01 09:58] #18 closed, assigned to PhilippBaschke